.contactContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 50px; /* Space between the info section and the form */
    background-color: #f4f8fd;
  }
  
  .infoSection {
    flex: 1;
    max-width: 400px;
  }
  
  .contactForm {
    flex: 2;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .formTitle {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input,
  .textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input:focus,
  .textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .contactContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .infoSection,
    .contactForm {
      width: 100%;
      max-width: 500px;
    }
  }
  