/* HeroContainer.module.css */
.heroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f4f8fd;
  }
  
  .heroContent {
    flex: 1;
    max-width: 600px;
  }
  
  .heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .cta {
    background-color: blue;
    border-radius: 11px;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .imageContainer {
    flex: 1;
    max-width: 600px;
  }
  
  .heroImage {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .heroContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .heroContent {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  
    .imageContainer {
      max-width: 100%;
    }
  }