/* SelectTemplate.module.css */

.container {
  text-align: center;
  padding: 2rem;
}

.templates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.template {
  cursor: pointer;
  width: 280px; /* Adjust this value based on your layout needs */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add padding for inner spacing */
  margin: 10px; /* Ensures some space around the card */
}

.template:hover {
  transform: scale(1.05); /* Scales up the card slightly on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhances shadow on hover */
}

.thumbnailSmall {
  max-width: 150px;
  height: auto;
}

.template p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: #fff; /* White text color for contrast */
  padding: 0.8rem; /* Increased padding for better spacing */
  margin: 0;
  transition: transform 0.3s, opacity 0.3s; /* Added opacity transition for smooth fade-in effect */
  transform: translateY(100%); /* Initially hidden below the card */
  opacity: 0; /* Start fully transparent */
}

.template:hover p {
  transform: translateY(0); /* Move into view when card is hovered */
  opacity: 1; /* Transition to fully visible */
}


.zoomAnimation {
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  position: relative;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalContent img {
  max-width: 100%;
  height: auto;
}

.modalContent h2 {
  margin-top: 1rem;
}

.modalContent button {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.modalContent button:hover {
  background-color: #45a049;
}