@import "tailwindcss";
/* disabled es */
@theme global {
  /* 1. Your Custom Colors - Royal Midnight Theme */
  --color-primary: #EAB308;
  --color-primary-dark: #CA8A04;
  
  --color-background-light: #F8FAFC;
  --color-background-dark: #0F172A;
  
  --color-text-main: #0F172A;
  --color-text-muted: #475569;
  
  --color-border-soft: #E2E8F0;
  --color-border-strong: #CBD5E1;

  /* 2. Your Fonts */
  --font-display: "Noto Serif", serif;
  --font-body: "Noto Sans", sans-serif;
}

/* 3. Global Reset */
body {
  background-color: var(--color-background-light);
  color: var(--color-text-main);
  font-family: var(--font-display);
}

/* 4. Dark Mode Overrides */
.dark {
  --color-text-main: #F8FAFC;
  --color-text-muted: #CBD5E1;
  --color-border-soft: #334155;
  --color-border-strong: #475569;
}

.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-main);
}