/* Header.module.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
}

.logoContainer {
    /* Styles for the logo container */
    display: flex;
    align-items: center;
}

.logo {
    height: 4rem;
    /* Adjust the height as needed */
}

.nav {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    color: #333;
    padding: 0 1rem;
}

.ctaContainer {
    margin-left: 1rem;
}

.cta {
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

    border-radius: 11px;
    padding: 15px 50px 15px 50px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
}

.hamburgerLine {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
}

@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .navOpen {
        transform: translateX(0);
    }

    .navLinks {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .navLink {
        margin-bottom: 0.5rem;
    }

    .hamburgerMenu {
        display: block;
    }
}